<%- include('header') -%>
<h1>Basket page</h1>
<table>
    <thead>
        <tr>
            <th>Products</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody id="list">
    </tbody>
</table>
<form id="checkout-form">
    <label for="address-input">Shipping Address</label>
    <input type="text" name="address-input" id="shipping-address" placeholder="Your Shipping Address" required>
    <button type="submit" id="checkout-button">Order</button>
</form>
<script>

    window.onload = () => {
        let params = window.location.search;
        let urlParams = new URLSearchParams(params);
        // let basketID = urlParams.get("quantity");
        fetch('http://127.0.0.1:8000/api/basket/', {
            method: 'GET',
			headers: {
			    'Accept': 'application/json',
				'Content-Type': 'application/json',
				'Authorization': 'Bearer '+localStorage.getItem("access")
            }
        })
            .then(response => response.json())
            .then(data => {
                data.forEach(element => {
                    
                    var basketID = element['id']
                    console.log(element)
                    let basketitems = element.items
                    
                    basketitems.forEach(item => {
                        let tmptr = document.createElement("tr")

                        let name = document.createElement("td")
                        name.innerHTML = item['product_name']
                        tmptr.appendChild(name)

                        let quantity = document.createElement("td")
                        quantity.innerHTML = item['quantity']
                        tmptr.appendChild(quantity)

                        let price = document.createElement("td")
                        price.innerHTML = item['item_price']
                        tmptr.appendChild(price)

                        let removeItem = document.createElement("button");
                        let productID = item['product_id']
                        removeItem.innerHTML = "Remove Item";
                        removeItem.onclick = () => {
                            fetch('http://127.0.0.1:8000/apiremove/', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
									'Content-Type': 'application/json',
									'Authorization': 'Bearer '+localStorage.getItem("access")
                                },
                                body: JSON.stringify({
                                    "product_id": productID
                                })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    alert("Item Removed");
                                    window.location.href = "/basket";
                                })
                        }

                        let checkoutButton = document.getElementById("checkout-button");
                        checkoutButton.onclick = () => {
                            let shippingAddress = document.getElementById("shipping-address").value;
                            console.log(shippingAddress)
                            fetch("http://127.0.0.1:8000/apicheckout/", {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json',
                                    'Authorization': 'Bearer '+localStorage.getItem("access")
                                },
                                body:JSON.stringify({
                                    "basket_id" : parseInt(basketID),
                                    "shipping_addr" : shippingAddress
                                })
                            })
                            .then(respone => response.json())
                            .then(data => {
                                console.log()
                                alert("order complete");
                            })
                        }
                        tmptr.appendChild(removeItem)
                        document.getElementById("list").appendChild(tmptr)
                    })
                })
            })
        
    }

</script>
<%- include('footer') -%>
</body>
</html>