<footer>

</footer>
<script>

        window.userLoggedIn = false;

        function logout(){
            localStorage.removeItem("access");
            localStorage.removeItem("refresh")
        }

        function isLoggedIn(){
            let accessToken = localStorage.getItem("access");
            if(accessToken != null && typeof(accessToken)!='undefined'){
                // if there is an access token in localstorage
                window.userLoggedIn = true;
            }
            if(window.userLoggedIn){
                    let loginLink = document.getElementById("auth-link");
                    loginLink.innerHTML = "Logout";
                    loginLink.href = "/";
                    loginLink.addEventListener("click", logout);
                }
        }

        isLoggedIn();


    </script>
    </body>
</html>
