<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="nav">
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/login" id="auth-link">Login</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </div>
        <section class="banner" id="sec">
            <header>
              <a href="/" class="home">Home</a>
              <div id="toggle" onclick="toggle()"></div>
            </header>
        
