<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="nav">
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/login" id="auth-link">Login</a></li>
            </ul>
        </div>
