<%- include('header') -%>
      <div class="content">
        <h2>>Welcome to <span>Jon's Cameras</span></h2>
        <p>Jon's Cameras is a local business established by Jon Bryan Ortiz in 2022,
          Buy your camera here, and start viewing the world through a new and beautiful
        lens. </p>
        <a href="/products">Shop Products</a>
      </div>
      <ul class="sci">
        <li><a href="#"><img src="/images/facebook.png"></a></li>
        <li><a href="#"><img src="/images/twitter.png"></a></li>
        <li><a href="#"><img src="/images/instagram.png"></a></li>
      </ul>
    <!-- <div id="main-cont">

    </div>
    <script>
      fetch("http://127.0.0.1:8000/api/products")
        .then(resp => resp.json())
        .then(data => {
          data.forEach(element => {
            console.log(element);
            let tmpli = document.createElement("li");
            let link = document.createElement("a");
            link.innerHTML = element['name'];
            let productStr = "/productindividual?id=" + element['id'];
            tmpli.appendChild(link);
            console.log(productStr);
            link.href = productStr;
            document.getElementById("main-cont").appendChild(tmpli)
          });
        })
    </script> -->
<%- include('footer') -%>
