{% extends 'base.html' %}

{% block title %}Le Basket{% endblock %}


{% block content %}

{% if empty %}
    <p>Your shopping basket is empty</p>
{% else %}
    <table>
        <thead>
            <tr>
                <th>Products</th>
                <th></th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sbi %}
            <tr>
                <td>{{item.product_id.name}} - {{item.product_id.description }}</td>
                <td><img src="{{item.product_id.product_image.url}}" width="100px"/></td>
                <td>{{item.quantity}}</td>
                <td>{{item.item_price}}</td>
                <td><a href="/removebasket/{{item.id}}">Remove</a> </td>
            </tr>
                
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<a href="/order">Order</a>
{% endblock %}